@media screen and (min-width: 360px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 1142px) {
  html {
    font-size: 16px;
  }
}
.index {
  .basket {
    width: 37.5rem;
    position: fixed;
    right: -37.5rem;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 20;
    transition: all 1s;
    .basket-list {
      padding: 1.6rem;
      padding-bottom: 6.25rem;
      overflow-y: scroll;
      height: 100%;
      display: flex;
      flex-direction: column;
      .basket-header {
        display: flex;
        align-items: center;
        position: sticky;
        top: -1.25rem;
        background: #fff;
        z-index: 60;
        .basket-header-title {
          font-size: 1rem;
          flex-grow: 1;
          font-family: Tajawal, Helvetica, Arial, sans-serif;
          color: #1a1a1a;
          span {
            color: #4a4a4a;
            font-size: 1rem;
            position: relative;
          }
        }
        .button-small {
          font-size: 1, 2rem;
          padding: 1rem 1.2rem;
          border: 1px solid #e1e1e1;
          color: #4a4a4a;
          background-color: white;
        }
      }
      .basket-empty {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        h5 {
          color: #818181;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 0.625rem;
        li {
          padding: 0;
          .basket-item {
            display: flex;
            width: 100%;
            align-items: center;
            border: 1px solid #e1e1e1;
            padding: 1px;
            margin-bottom: 1.2rem;
            .basket-control {
              display: grid;
              width: 1.875rem;
              height: 5.625rem;
              align-items: center;
              button {
                width: 2.1875rem;
                height: 100%;
                padding: 0.3rem;
                font-weight: 700;
                background-color: white;
                border: 1px solid #e1e1e1;
                img {
                  width: 0.56rem;
                  height: 0.56rem;
                }
              }
            }
            .basketItem-iamge {
              width: 5.625rem;
              height: 5.625rem;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0.625rem;
              img {
                width: 100%;
              }
            }
            .basketItem-dedail {
              display: grid;
              width: 15.625rem;
              padding: 0.625rem;
              span {
                color: #8d8d8d;
                font-size: 0.75rem;
              }
              .item-name {
                text-decoration: underline;

                h4 {
                  font-size: 1.125rem;
                }
              }
              .item-detail {
                display: flex;
                justify-content: space-between;
                .color {
                  div {
                    width: 1.25rem;
                    height: 1.25rem;
                    border-radius: 50%;
                  }
                }
              }
            }
            .item-price {
              margin-left: 1.25rem;
              h4 {
                font-size: 1rem;
              }
            }
            .item-delete {
              margin-left: 1.25rem;
              width: 2.5rem;
              height: 2.5rem;
              border: 1px solid #e1e1e1;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: white;
              img {
                width: 0.9375rem;
                height: 0.9375rem;
              }
            }
          }
        }
      }
    }
    .basket-checkout {
      background: #fff;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.content {
  width: 100%;

  margin: 0 auto;
  padding: 1.875rem 7.5rem 1.875rem 7.5rem;

  .benefit_main {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 5rem;

    background: #f3f3f3;
    padding-left: 3.75rem;
    height: 25rem;
    .benefit_left {
      width: 50%;
      position: relative;
      padding-top: 3.75rem;
      padding-bottom: 1.125rem;

      h1 {
        margin-bottom: 1rem;
        width: 80%;
        font-weight: 400;
        font-family: Tajawal, Helvetica, Arial, sans-serif;
        color: #1a1a1a;
      }

      .body-display {
        margin-top: 1.25rem;
        margin-bottom: 2.5rem;
        color: #516381;
        font-size: 1.1875rem;
        line-height: 1.6em;
        font-weight: 400;
      }
      .choose_destination {
        position: absolute;
        z-index: 1;

        padding: 1.25rem 2rem;

        background-color: black;
        color: #fff;
        font-size: 0.6875rem;
        letter-spacing: 0.1875rem;
        transition: all 1s;
        padding-left: 2.5rem;

        a {
          text-decoration: none;
          div {
            color: #fff;

            img {
              margin-left: 0.625rem;
              width: 1.25rem;
              height: 1.25rem;
            }
          }
        }
      }
    }
    .banner {
      display: flex;
      align-items: center;
    }
    .benefit_right {
      width: 40%;
      border-radius: 0.1875rem;

      .image {
        width: 100%;
        height: 100%;

        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .benefit_image {
        background-image: url(./Img/banner-girl.cc69a475.png);
      }
      .featured_image {
        background-image: url(./Img/banner-guy.0729a23e.png);
      }
      .recommend_image {
        background-image: url(./Img/banner-girl-1.23493f87.png);
      }
    }
  }
}
.noFindContent {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;

  .noFind {
    width: 80%;
    height: 80%;
    background: #f2f2f2;
    position: relative;
    padding: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
}
.product {
  padding: 30px 100px 30px 100px;
  background-color: #f9f9f9;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: black;
    }
  }
  ul {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 2rem;
    list-style: none;

    li {
      min-height: 23.4375rem;

      a {
        text-decoration: none;
        color: black;
        .productDetail {
          width: 100%;

          border: 1px solid #e1e1e1;

          .picture {
            width: 100%;
            height: 100%;
            padding: 20px;
            background: #f1f1f1;
            position: relative;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              transition: all 1s;
              opacity: 1;
              &:hover {
                transform: scale(1.05);
              }
            }
          }
          .detail {
            padding: 2rem;
            text-decoration: none;
            h2 {
              font-size: 1.5rem;
            }
            p {
              color: #818181;
            }
          }
        }
      }
    }
  }
}
.productRecommend {
  padding: 6.25rem 9.375rem 1.875rem 9.375rem;
  .title {
    margin-left: 3.125rem;
  }

  ul {
    grid-template-columns: repeat(3, 31%);
  }
}
.shopPage {
  .allProduct {
    padding: 5rem 2.5rem 5rem 2.5rem;
    flex-grow: 1;
    position: relative;
    background-color: #f9f9f9;
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
      grid-gap: 0.5rem;
      justify-content: center;
      list-style: none;
      li {
        position: relative;
        overflow: hidden;
        padding: 0;
        a {
          text-decoration: none;
          display: block;
          width: 100%;
          .productDetail {
            position: relative;
            max-width: 15rem;
            height: 18rem;
            border: 1px solid #e1e1e1;
            text-align: center;
            position: relative;
            background: #fff;

            overflow: hidden;
            .picture {
              width: 100%;
              height: 130px;
              padding: 0 1.6rem;
              margin: auto;
              position: relative;
              background: #f6f6f6;
              transition: all 0.4s ease-in-out;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .detail {
              padding: 1.6rem;
              transition: all 0.4s ease-in-out;
              h5 {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: black;
                text-align: center;
              }
              .brand {
                margin-top: 0;
                font-size: 0.8rem;
                color: #b6b6b6;
                font-style: italic;
              }
              .price {
                font-size: 1rem;
                color: black;
              }
            }
          }
        }
        .addBasketButton {
          position: absolute;
          width: 100%;
          max-width: 15rem;
          // left: 0;
          bottom: -100%;
          // opacity: 0;
          // bottom: -100%;
          font-size: 1rem;
          transition: all 0.4s ease-in-out;
          padding: 0.9rem 1.875rem;
          background-color: black;
          color: white;
        }
        .removeBasketButton {
          position: absolute;
          width: 100%;
          max-width: 15rem;
          // left: 0;
          border: none;
          bottom: -100%;
          // opacity: 0;
          // bottom: -100%;
          font-size: 0.8rem;
          transition: all 0.4s ease-in-out;
          padding: 0.6rem 1.4rem;

          color: black;
        }

        &:hover {
          a {
            .productDetail {
              .picture {
                height: 6.25rem;
              }
              .detail {
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
              }
            }
          }
          .addBasketButton {
            bottom: 0;
            // opacity: 1;
          }
          .removeBasketButton {
            bottom: 0;
          }
        }
      }
    }
  }
}
.sign {
  width: 100%;
  margin: 0 auto;
  padding: 20px 12rem 20px 12rem;

  .sign_wrap {
    border: 1px solid #c5c5c5;
    .benefit_main {
      width: 100%;

      display: flex;
      justify-content: space-around;

      padding: 0.3125rem;
      padding-right: 2.5rem;

      .benefit_left {
        position: relative;
        width: 50%;
        padding: 1.875rem;
        .title {
          h3 {
            font-size: 1.25rem;
          }
        }

        .form {
          opacity: 1;
          transition: all 1s;
          .formitem {
            margin-top: 0.3125rem;
            .lable {
              display: block;
              padding: 1rem 1.2rem;
              color: #696868;
              font-size: 0.75rem;
            }
            input {
              width: 100%;
              padding: 0.625rem 1.6rem !important;
              border: 1px solid #c5c5c5 !important;
              font-size: 0.75rem;
            }
          }
          .choose_destination {
            position: absolute;
            right: 0;
            z-index: 1;
            // width: 18.75rem;
            padding: 1.875rem 1.875rem;

            color: #fff;
            font-size: 0.6875rem;
            letter-spacing: 0.1875rem;
            transition: all 1s;
            padding-left: 2.5rem;
            .button {
              text-decoration: none;
              padding: 0.625rem 2.5rem 0.625rem 1.25rem;
              color: white;
              background: black url(./Img/icons8-arrow-48.png) no-repeat
                5.3125rem 0.8125rem;
              background-size: 20%;
              font-size: 1.125rem;
            }
          }
        }
      }
      .benefit_middle {
        width: 15%;
        display: flex;
        flex-direction: column;

        align-items: center;
        margin-top: 7.5rem;
        margin-right: 0.625rem;
        .up {
          height: 15%;
          width: 1px;
          background: #e1e1e1;
        }
        div {
          margin-top: 0.3125rem;
          margin-bottom: 0.3125rem;
        }
      }
      .benefit_right {
        width: 35%;
        height: 23.75rem;
        margin-top: 6.25rem;
        padding-right: 6.25rem;
        button {
          padding: 1rem;
          margin-bottom: 1.25rem;
          width: 16rem;
          img {
            width: 0.75rem;
            height: 0.75rem;
            margin-right: 1.25rem;
          }
        }
        .facebook {
          background: #0078ff;
          color: #fff;
          border: 1px solid #0078ff;
        }
        .google {
          background: #fff;
          color: #3a3a3a;
          border: 1px solid #c5c5c5;
        }
        .gitbub {
          background: #24292e;
          color: #fff;
          border: 1px solid #24292e;
        }
      }
    }
    .sign_down {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.2rem;
      margin: auto;
      background: #f2f2f2;
      border-top: 1px solid #c5c5c5;
      span {
        color: #4a4a4a;
        font-size: 0.75rem;
      }
      button {
        margin-left: 1.875rem;
        padding: 0.75rem 1rem;
        font-size: 0.75rem;
        border: 1px solid #e1e1e1;
        color: #4a4a4a;
      }
    }
  }
}
.signInContent {
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem 12rem 1.25rem 12rem;

  .sign_wrap {
    border: 1px solid #c5c5c5;
    .benefit_main {
      width: 100%;
      height: 23.75rem;
      display: flex;
      justify-content: space-around;

      padding: 0.3125rem;
      padding-right: 2.5rem;
      // height: 800px;

      .benefit_left {
        position: relative;
        width: 50%;
        padding: 1.875rem;
        .title {
          h3 {
            font-size: 1.25rem;
          }
        }

        .form {
          opacity: 1;
          transition: all 1s;
          .formitem {
            margin-top: 0.3125rem;
            .lable {
              display: block;
              padding: 1rem 1.2rem;
              color: #696868;
              font-size: 0.75rem;
            }
            input {
              width: 100%;
              padding: 0.625rem 1.6rem !important;
              border: 1px solid #c5c5c5 !important;
              font-size: 0.75rem;
            }
          }
        }
        .choose_destination {
          position: absolute;
          right: 0;
          z-index: 1;
          // width: 18.75rem;
          padding: 1.875rem 1.875rem;
          color: #fff;
          font-size: 0.6875rem;
          letter-spacing: 0.1875rem;
          transition: all 1s;
          padding-left: 2.5rem;
          .button {
            text-decoration: none;
            padding: 0.625rem 2.5rem 0.625rem 1.25rem;
            color: white;
            background: black url(./Img/icons8-arrow-48.png) no-repeat 5.3125rem
              0.8125rem;
            background-size: 20%;
            font-size: 1.125rem;
          }
        }
      }
      .benefit_middle {
        width: 15%;
        display: flex;
        flex-direction: column;

        align-items: center;
        margin-top: 7.5rem;
        margin-right: 0.625rem;
        .up {
          height: 15%;
          width: 1px;
          background: #e1e1e1;
        }
        div {
          margin-top: 0.3125rem;
          margin-bottom: 0.3125rem;
        }
      }
      .benefit_right {
        width: 35%;
        height: 23.75rem;
        margin-top: 6.25rem;
        padding-right: 6.25rem;
        button {
          padding: 1rem;
          margin-bottom: 1.25rem;
          width: 16rem;
          img {
            width: 0.75rem;
            height: 0.75rem;
            margin-right: 1.25rem;
          }
        }
        .facebook {
          background: #0078ff;
          color: #fff;
          border: 1px solid #0078ff;
        }
        .google {
          background: #fff;
          color: #3a3a3a;
          border: 1px solid #c5c5c5;
        }
        .gitbub {
          background: #24292e;
          color: #fff;
          border: 1px solid #24292e;
        }
      }
    }
    .sign_down {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.2rem;
      margin: auto;
      background: #f2f2f2;
      border-top: 1px solid #c5c5c5;
      span {
        color: #4a4a4a;
        font-size: 0.75rem;
      }
      button {
        margin-left: 1.875rem;
        padding: 0.75rem 1rem;
        font-size: 0.75rem;
        border: 1px solid #e1e1e1;
        color: #4a4a4a;
      }
    }
  }
}
.filters {
  text-align: center;
  min-width: 8rem;

  margin-left: -6.25rem;

  .filter-button {
    padding: 0.625rem;
    div {
      display: flex;
      align-items: center;
    }
    font-size: 1rem;
    display: flex;
    background: #f2f2f2;
    color: #7d7d7d;
    border: 1px solid #e1e1e1;
    align-items: center;
  }
}
.footer {
  width: 100%;
  position: absolute;

  padding: 0 5.6rem;

  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .footer-col-2 {
    padding: 3rem 0;
    text-align: center;
    flex-basis: 20%;
  }
}

.productDetailContent {
  background-color: #f9f9f9;
  width: 100%;
  margin: 0 auto;
  padding-left: 12.5rem;
  padding-right: 6.25rem;
  .content_main {
    a {
      text-decoration: none;
      color: black;
      .title {
        img {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
    .product-modal {
      width: 100%;
      display: flex;
      background: #fff;
      border: 1px solid #e1e1e1;
      .product-left {
        width: 11.25rem;
        height: inherit;
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 0.625rem;
        overflow-y: scroll;
        position: relative;
        ul {
          list-style: none;
          padding: 0;
          li {
            padding: 0;

            div {
              width: 100%;
              height: 8.125rem;
              border: 1px solid #e1e1e1;
              margin-bottom: 0.3125rem;
              position: relative;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
      }
      .product-middle {
        width: 40rem;
        height: inherit;
        flex-grow: 1;
        position: relative;
        background: #f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .product-right {
        width: 31.25rem;
        padding: 3.2rem;
        background-color: white;
        .name {
          font-weight: bold;
          font-size: x-large;
          padding-bottom: 0.625rem;
        }
        .brand {
          padding-bottom: 0.625rem;
        }
        ul {
          display: flex;
          list-style: none;
          margin-top: 1.25rem;
          li {
            position: relative;
            div {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
            }
            .done {
              position: absolute;
              top: 0.9375rem;
              left: 1.5625rem;
              // display: none;
              align-items: center;
            }
          }
        }
        .price {
          font-size: 2rem;
          margin: 0 0 1.25rem 1.25rem;
        }
        //
        .addBasketButton {
          width: 100%;
          max-width: 11.25rem;
          // left: 0;

          // opacity: 0;
          // bottom: -100%;
          font-size: 1rem;
          transition: all 0.4s ease-in-out;
          padding: 0.9rem 1.875rem;
          background-color: black;
          color: white;
        }
        .removeBasketButton {
          width: 100%;
          max-width: 11.25rem;
          // left: 0;
          border: none;

          // opacity: 0;
          // bottom: -100%;
          font-size: 0.8rem;
          transition: all 0.4s ease-in-out;
          padding: 0.6rem 1.4rem;

          color: black;
        }
      }
    }
  }
}
.searchContent {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  .title {
    text-align: center;
  }
  .searchWrap {
    width: 100%;
    padding-left: 6.25rem;
    padding-top: 3.125rem;
    ul {
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      .searchProduct {
        width: 17.5rem;
        position: relative;
        overflow: hidden;
        padding: 0;
        margin-bottom: 1.25rem;

        a {
          text-decoration: none;
          width: 17.5rem;
          .productDetail {
            position: relative;
            max-width: 15.625rem;
            height: 18.75rem;
            border: 1px solid #e1e1e1;
            text-align: center;
            position: relative;
            background: #fff;

            overflow: hidden;
            .picture {
              width: 100%;
              height: 9.375rem;
              padding: 0 1.6rem;
              margin: auto;
              position: relative;
              background: #f6f6f6;
              transition: all 0.4s ease-in-out;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .detail {
              padding: 1.6rem;
              transition: all 0.4s ease-in-out;
              text-align: center;
              h5 {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: black;
              }
              .brand {
                margin-top: 0;
                font-size: 0.8rem;
                color: #b6b6b6;
                font-style: italic;
              }
              .price {
                font-size: 1rem;
                color: black;
              }
            }
          }
        }
        .addBasketButton {
          position: absolute;
          width: 100%;
          max-width: 15.625rem;
          // left: 0;
          bottom: -100%;
          // opacity: 0;
          // bottom: -100%;
          font-size: 1rem;
          transition: all 0.4s ease-in-out;
          padding: 0.9rem 1.875rem;
          background-color: black;
          color: white;
        }
        .removeBasketButton {
          position: absolute;
          width: 100%;
          max-width: 9.375rem;
          // left: 0;
          border: none;
          bottom: -100%;
          // opacity: 0;
          // bottom: -100%;
          font-size: 0.8rem;
          transition: all 0.4s ease-in-out;
          padding: 0.6rem 1.4rem;

          color: black;
        }

        &:hover {
          a {
            .productDetail {
              .picture {
                height: 6.25rem;
              }
              .detail {
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
              }
            }
          }
          .addBasketButton {
            bottom: 0;
            // opacity: 1;
          }
          .removeBasketButton {
            bottom: 0;
          }
        }
      }
    }
  }
}
.accountWrap {
  border: none !important;
  background-color: #f9f9f9 !important;
  .MyAccountTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .avatar {
      margin-left: 0.625rem;
      margin-right: 0.625rem;
      img {
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
      }
    }
    .arrow {
      img {
        width: 0.625rem;
        height: 0.625rem;
      }
    }
  }
}
.myAccount {
  a {
    text-decoration: none;
    color: black;
  }
}
.content {
  width: 100%;
  position: relative;
  // padding: 5rem;
  display: flex;
  background-color: #f9f9f9;
  .user-tab {
    width: 50rem;
    height: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    background: #fff;
    border: 1px solid #e1e1e1;
    .user-tab-nav {
      background: #f2f2f2;
      border-bottom: 1px solid #e1e1e1;
      padding: 0 2rem;
      .user-tab-menu {
        padding: 0;
        margin: 0;
        position: relative;
        bottom: -1px;
        .user-tab-item {
          list-style-type: none;
          color: #818181;
          padding: 1rem;
          font-size: 1rem;
          border-bottom: 1px solid transparent;
          display: inline-block;
        }
        .user-tab-active {
          color: #4a4a4a;
          font-weight: 700;
          border-bottom: 1px solid #fff;
          background: #fff;
        }
      }
    }
    .user-tab-content {
      height: 100%;
      position: relative;
      min-height: 80vh;
      padding: 1rem;
      .user-profile {
        padding: 1rem;
        display: flex;
        margin: auto;
        display: none;
        // position: absolute;
        // left: 0;
        // top: 0;
        // right: 0;
        // bottom: 0;
        .user-profile-block {
          width: 100%;
          height: auto;
          .user-profile-banner {
            width: 100%;
            height: 9.375rem;
            position: relative;
            .user-profile-banner-wrapper {
              width: 100%;
              height: 100%;
              position: relative;
              background: #e9e9e9;
              overflow: hidden;
              .user-profile-banner-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
            .user-profile-avatar-wrapper {
              width: 6.25rem;
              height: 6.25rem;
              border-radius: 50%;
              border: 0.1875rem solid #fff;
              position: absolute;
              left: 1.6rem;
              bottom: -30%;

              background: #e1e1e1;
              overflow: hidden;
              .user-profile-img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
              }
            }
            .user-profile-edit {
              position: absolute;
              right: 1.2rem;
              bottom: -12%;
              font-size: 0.8rem;

              background: #101010;
              padding: 1rem;
              border: 1px solid #101010;
              color: #fff;
              font-weight: 700;

              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .user-profile-details {
            padding: 5rem 1.6rem 3.2rem;
            .user-profile-name {
              font-size: 2rem;
              margin-top: 1.25rem;
              margin-bottom: 1.25rem;
            }
            span {
              line-height: 2.5rem;
            }
            h5 {
              margin-top: 1.25rem;
              margin-bottom: 1.25rem;
              font-size: 1rem;
            }
          }
        }
      }
      .loader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 1rem;
        right: 1rem;
        top: 1rem;
        bottom: 1rem;
        background-color: #f2f2f2;
        h3 {
          font-size: 1.2rem;
          margin-bottom: 0.9375rem;
        }
        span {
          color: #818181;
          font-size: 0.8rem;
        }
      }
    }
  }
}
