.index {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;

  /* border: 1px solid black; */
}
nav {
  padding: 40px !important;
}
nav a {
  text-decoration: none;
}
.container-fluid {
  flex-wrap: nowrap !important;
  justify-content: space-between !important;
}
.navbarContent {
  display: flex;
  justify-content: space-between !important;
  width: 59.375rem !important;
}
.navbarContent ul {
  display: flex !important;
  flex-direction: row !important;

  align-items: center !important;
  margin-right: 10rem !important;
}
.nav-item {
  border: none !important;
}
.nav-item a {
  color: #101010;
  opacity: 0.5;
  text-decoration: none;
}
.nav-item a.active {
  color: #333 !important;
  opacity: 1;
}
/* .nav-item {
  margin-left: 20px;
  margin-right: 20px;
} */
.signup {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.signup li {
  list-style: none;
}
li {
  padding: 0.625rem;
  transition: all 1s;
}
.nav-item:hover {
  background-color: rgba(234, 231, 231, 0.662);
}
.search {
  background: url(./Img/search.png) no-repeat 0.625rem 0.8rem !important;
  background-size: 10% !important;
  padding-left: 40px !important;
  border-color: #e1e1e1 !important;
  border-radius: 0 !important;
  width: 10rem;
  font-size: small;
}

.btn-outline-success {
  border: none !important;
  display: flex !important;
  position: relative !important;
}
.btn-outline-success img {
  width: 24px;
  height: 24px;
}
.basketCount {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-color: red;
  border-radius: 100%;
  color: white;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-outline-success:hover {
  background-color: rgba(234, 231, 231, 0.662) !important;
  border-radius: 0 !important;
}

.signUp {
  background-color: #101010;
  margin-right: 10px;
}
.signup a {
  color: white;
  white-space: nowrap; /* Prevents wrapping */
  overflow: hidden; /* Hides overflow */
  text-overflow: ellipsis;
}

.signIn {
  background-color: #f2f2f2;
  border: 1px solid #e1e1e1;
}
.signup a .signIn {
  color: #7d7d7d;
  text-decoration: none;
}
.signup a.active {
  opacity: 0;
}
